<div class="card-body">
    <div class="row">
        <div class="user">
            <a href="">
                <img class="avatar" src="{{gist.owner.avatar_url}}" alt="">
            </a>
        </div>
        <div class="gist">
            <div class="info-file">
                    <p class="info">
                        {{gist.owner.login}} /
                        <a class="info filename" [routerLink]="['/details', file[0][1].raw_url]">
                            {{file[0][1].filename}}
                        </a>
                    </p>
                <time class="info file">
                    {{gist.created_at | date:'h:mm'}}
                    <span class="info file" *ngIf="gist.comments > 1">
                        ·  Comments: {{gist.comments}}
                    </span>
                    <span class="info file" *ngIf="gist.comments < 1">
                        · No comments
                    </span>
                </time>
            </div>

        </div>
    </div>
    <div class="info-description">
        <p class="info" *ngIf="gist.description">
            {{gist.description}}
        </p>
        <p *ngIf="!gist.description">
            This project has no description.
        </p>
    </div>
</div>
